<app-toast></app-toast>

<div *ngIf="player && isDisplay">
  <div class="tw-p-[var(--content-gap)] tw-grid tw-gap-[var(--content-gap)]">
    <!-- player list in the room -->
    <div
      class="tw-flex tw-gap-[var(--content-gap)] tw-flex-wrap tw-items-center"
    >
      <h2 class="tw-m-[var(--content-gap)]">Room: {{ room.roomCode }}</h2>

      <div *ngFor="let p of room.playerList">
        <p-button
          [label]="p.playerName"
          [outlined]="true"
          [severity]="p.playerId === player.playerId ? 'primary' : 'secondary'"
        ></p-button>
      </div>
    </div>

    <div class="tw-flex tw-gap-[var(--content-gap)]">
      <!-- start game -->
      <p-button
        [label]="'ACTION.START_GAME' | translate"
        (onClick)="startGame()"
        *ngIf="player.playerId === room.roomOwnerId"
      ></p-button>

      <!-- next player -->
      <p-button
        [label]="'Next player turn'"
        [outlined]="true"
        (onClick)="nextTurn()"
      ></p-button>

      <p-button
        [outlined]="true"
        icon="pi pi-cog"
        [pTooltip]="'ROOM.SETTING' | translate"
        (onClick)="roomSettingVisible = true"
      ></p-button>
    </div>
  </div>

  <!-- display mahjong section -->
  <section class="display-mahjong-div">
    <!-- testing area (remaining mahjong) -->
    <div
      *ngIf="false"
      class="tw-flex tw-flex-wrap tw-gap-[var(--content-gap)] tw-p-[var(--content-gap)] tw-justify-center tw-items-center"
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event, room.mahjong.remainingTiles)"
    >
      <div
        *ngFor="let mahjong of room.mahjong.remainingTiles; let i = index"
        class="tw-mx-[-4px]"
      >
        <app-mahjong
          [mahjong]="mahjong"
          [selectable]="false"
          cdkDrag
        ></app-mahjong>
      </div>
    </div>

    <app-mahjong-table
      [room]="room"
      [player]="player"
      class="room-table-div"
    ></app-mahjong-table>
  </section>
</div>

<!-- Player turn area -->
<div
  class="tw-flex tw-gap-[var(--content-gap)] tw-p-[var(--content-gap)] tw-justify-center tw-items-center tw-fixed tw-bottom-4 tw-left-4 tw-rounded-full tw-bg-white"
  *ngIf="true"
>
  <app-game-turn [room]="room" [player]="player"></app-game-turn>
</div>
