<app-toast></app-toast>

<div *ngIf="player">
  <div class="tw-p-[var(--content-gap)] tw-grid tw-gap-[var(--content-gap)]">
    <!-- player list in the room -->
    <div class="tw-flex tw-gap-[var(--content-gap)]">
      <div *ngFor="let p of room.playerList">
        <p-button
          [label]="p.playerName"
          [outlined]="true"
          [severity]="p.playerId === player.playerId ? 'primary' : 'secondary'"
        ></p-button>
      </div>
    </div>

    <div class="tw-flex tw-gap-[var(--content-gap)]">
      <!-- start game -->
      <p-button
        [label]="'Start Game'"
        (onClick)="startGame()"
        *ngIf="player.playerId === room.roomOwnerId"
      ></p-button>

      <!-- next player -->
      <p-button
        [label]="'Next player turn'"
        [outlined]="true"
        (onClick)="nextTurn()"
      ></p-button>
    </div>
  </div>

  <!-- display mahjong section -->
  <section class="display-mahjong-div">
    <!-- testing area (remaining mahjong) -->
    <div
      class="tw-flex tw-flex-wrap tw-gap-[var(--content-gap)] tw-p-[var(--content-gap)] tw-justify-center tw-items-center"
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event, room.mahjong.remainingTiles)"
    >
      <div
        *ngFor="let mahjong of room.mahjong.remainingTiles; let i = index"
        class="tw-mx-[-4px]"
      >
        <app-mahjong
          [mahjong]="mahjong"
          [selectable]="false"
          cdkDrag
        ></app-mahjong>
      </div>
    </div>

    <!-- title area -->
    <div
      class="tw-flex tw-gap-[var(--content-gap)] tw-p-[var(--content-gap)] tw-justify-center tw-items-center"
    >
      <app-base-label [label]="'Game Turn: '"></app-base-label>
      <img
        [src]="'../../../../assets/images/mahjong/' + room.gameOrder + '.png'"
      />
    </div>

    <!-- discard tile area -->
    <div
      class="tw-flex tw-flex-wrap tw-gap-[var(--content-gap)] tw-p-[var(--content-gap)] tw-justify-center tw-items-center tw-border-[thin] tw-border-l-zinc-400"
      [ngClass]="{ 'tw-border-dashed': room.mahjong.discardTiles!.length > 0 }"
    >
      <div
        *ngFor="let mahjong of room.mahjong.discardTiles; let i = index"
        class="tw-mx-[-4px]"
      >
        <app-mahjong [mahjong]="mahjong" [selectable]="false"></app-mahjong>
      </div>
    </div>

    <!-- mahjong, player area -->
    <div
      *ngFor="let p of room.playerList"
      [ngClass]="{
        'tw-border-red-400 tw-border-solid': p.playerId === player.playerId
      }"
    >
      <!-- player info, action -->
      <div
        class="tw-flex tw-p-[var(--content-gap)] tw-gap-[var(--content-gap)] tw-items-center"
      >
        <app-base-label [label]="p.playerName"></app-base-label>
        <img
          class="direction-icon"
          [src]="'../../../../assets/images/mahjong/' + p.direction + '.png'"
        />
        <app-base-label
          [label]="
            '(' +
            (
              p.mahjong.flowerTiles.point + p.mahjong.publicTiles.point
            ).toString() +
            ')'
          "
        ></app-base-label>

        <!-- sort -->
        <p-button
          [label]="'Sort'"
          (onClick)="sortMahjongList(p)"
          [outlined]="true"
          *ngIf="p.playerId === player.playerId"
        ></p-button>

        <!-- draw -->
        <p-button
          [label]="'Draw'"
          (onClick)="drawMahjong(p)"
          [outlined]="true"
          *ngIf="p.playerId === player.playerId"
          [disabled]="room.gameOrder !== p.direction"
        ></p-button>

        <!-- discard -->
        <p-button
          [label]="'Discard'"
          (onClick)="discardMahjong(p)"
          [outlined]="true"
          [disabled]="room.gameOrder !== p.direction"
          *ngIf="p.playerId === player.playerId"
        ></p-button>

        <!-- pong -->
        <p-button
          [label]="'Pong'"
          (onClick)="actionMahjong('pong', p)"
          [outlined]="true"
          *ngIf="p.action.isPongable"
        ></p-button>

        <!-- kong -->
        <p-button
          [label]="'Kong'"
          (onClick)="actionMahjong('kong', p)"
          [outlined]="true"
          *ngIf="p.action.isKongable"
        ></p-button>

        <!-- check point -->
        <p-button
          [label]="'Check'"
          (onClick)="checkPoint(p)"
          [outlined]="true"
          *ngIf="p.action.isKongable"
        ></p-button>
      </div>

      <!-- flower set -->
      <div class="tw-p-[var(--content-gap)] tw-flex tw-flex-wrap">
        <div
          *ngFor="
            let mahjong of p.mahjong.flowerTiles.mahjongTile;
            let i = index
          "
          class="tw-mx-[-4px]"
        >
          <app-mahjong [mahjong]="mahjong" [selectable]="false"></app-mahjong>
        </div>
      </div>

      <div class="tw-flex tw-gap-[var(--content-gap-xl)] tw-flex-wrap">
        <!-- hand set -->
        <div
          class="tw-p-[var(--content-gap)] tw-flex tw-flex-wrap"
          cdkDropList
          cdkDropListOrientation="horizontal"
          (cdkDropListDropped)="drop($event, p.mahjong.handTiles.mahjongTile)"
        >
          <div
            *ngFor="
              let mahjong of p.mahjong.handTiles.mahjongTile;
              let i = index
            "
            class="tw-mx-[-4px] tw-flex"
          >
            <app-mahjong
              [mahjong]="mahjong"
              cdkDrag
              (click)="mahjong.isSelected = true"
              *ngIf="p.playerId === player.playerId"
              (selectedTile)="selectedTileOutput($event, p)"
            ></app-mahjong>

            <app-mahjong
              *ngIf="p.playerId !== player.playerId"
              [isHide]="true"
              (click)="clickOtherPlayerTile()"
            ></app-mahjong>
          </div>
        </div>

        <!-- public set -->
        <div class="tw-p-[var(--content-gap)] tw-flex tw-flex-wrap">
          <div
            *ngFor="
              let mahjong of p.mahjong.publicTiles.mahjongTile;
              let i = index
            "
            class="tw-mx-[-4px]"
          >
            <app-mahjong [mahjong]="mahjong"></app-mahjong>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
