<div class="tw-grid tw-justify-items-center">
  <div
    class="tw-relative tw-flex"
    (click)="selectTile()"
    [ngClass]="{
      'tw-top-[-10px]': selectable && mahjong.isSelected && !isHide,
      'tile-div': selectable
    }"
  >
    <img
      [src]="'../../../../assets/images/mahjong/' + mahjong.code + '.png'"
      [alt]="mahjong.name"
      class="tile"
      [ngClass]="{ 'tw-brightness-50': mahjong.isTaken }"
      *ngIf="!isHide"
    />
    <div class="tile hide" *ngIf="isHide"></div>
  </div>
  <!-- <i
    class="pi pi-sort-up-fill tw-text-yellow-200"
    *ngIf="mahjong.isSelected && !isHide"
  ></i> -->
</div>
