.tile {
  width: var(--tile-width);
  height: calc(var(--tile-width) * var(--tile-ratio));
  border: 1px solid #b8b0b0;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px #b8b0b0 inset;
  background-color: white;
  padding: 8px;
}

.tile-div:hover {
  top: -10px;
}

.hide {
  background-color: var(--mahjong-primary);
}

.mahjong-tag {
  position: absolute;
  top: 2px;
  right: 3px;
  font-size: 12px;
}

.grabbable {
  cursor: url("https://www.google.com/intl/en_ALL/mapfiles/openhand.cur"),
    all-scroll;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
