<div class="mahjong-table-div tw-w-full tw-h-screen">
  <!-- Previous Player (Left Side) -->
  <div
    *ngFor="let p of room.playerList"
    [ngClass]="{
      nextPlayer: p.direction === returnPlayerDirectionLabel(1),
      'tw-justify-end': p.direction === returnPlayerDirectionLabel(1),
      prevPlayer: p.direction === returnPlayerDirectionLabel(2),
      currentPlayer: p.direction === returnPlayerDirectionLabel(0)
    }"
    class="tw-flex"
  >
    <!-- Previous Player (Left) - Rotated 90° -->
    <div
      *ngIf="p.direction === returnPlayerDirectionLabel(2)"
      class="tw-flex tw-justify-end"
    >
      <app-player-mahjong
        [room]="room"
        [player]="p"
        [playerPosition]="'prev'"
        class="tw-w-[800px] tw-block prev-player-rotate"
      ></app-player-mahjong>
    </div>

    <!-- Next Player (Right) - Rotated 90° -->
    <div
      *ngIf="p.direction === returnPlayerDirectionLabel(1)"
      class="tw-flex tw-justify-start"
    >
      <app-player-mahjong
        [room]="room"
        [player]="p"
        [playerPosition]="'next'"
        class="tw-w-[800px] tw-block next-player-rotate"
      ></app-player-mahjong>
    </div>

    <!-- Current Player (Bottom) -->
    <div
      *ngIf="p.playerId === player.playerId"
      class="tw-w-full tw-flex tw-justify-start"
    >
      <app-player-mahjong
        [room]="room"
        [player]="p"
        [currentPlayer]="true"
        [playerPosition]="'current'"
      ></app-player-mahjong>
    </div>
  </div>

  <!-- Discard Tile Area (Center) -->
  <div class="discard-area-div tw-flex tw-justify-center">
    <app-discard-area [room]="room" class="tw-w-full"></app-discard-area>
  </div>
</div>
