.mahjong-set-div {
  gap: 2px;
}

.player-mahjong-div {
  display: grid;
  grid-template-areas:
    "flowerSet"
    "otherSet"
    "playerInfo";
}

.reverse-player-mahjong-div {
  display: grid;
  grid-template-areas:
    "playerInfo"
    "otherSet"
    "flowerSet";
}

.player-info {
  grid-area: playerInfo;
  grid-template-areas: "playerLabel directionIcon points actionDiv";
  justify-content: start;
}

.reverse-player-info {
  grid-area: playerInfo;
  grid-template-areas: "points directionIcon playerLabel";
  justify-content: end;
}

.flower-set-div {
  grid-area: flowerSet;
  height: 75px;
  background-color: var(--mahjong-secondary);
  border-radius: 5px;
}

.other-set-div {
  grid-area: otherSet;
  height: 75px;
  grid-template-areas: "handSet publicSet";
  justify-content: start;
  background-color: #82490b;
  border-radius: 5px;
}

.reverse-other-set-div {
  grid-area: otherSet;
  height: 75px;
  grid-template-areas: "publicSet handSet";
  justify-content: end;
  background-color: #82490b;
  border-radius: 5px;
}

.player-label {
  grid-area: playerLabel;
}

.direction-icon {
  grid-area: directionIcon;
}

.points {
  grid-area: points;
}

.action-div {
  grid-area: actionDiv;
}

.hand-set {
  grid-area: handSet;
  justify-content: end;
}

.public-set {
  grid-area: publicSet;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
